# Git
.git
.gitignore

# Virtual Environment
venv/
env/
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# Model Caches
.cache/
huggingface/

# MacOS
.DS_Store

# Output files
output_audio.wav
